.BoardContainer {
  background-color: #60321a;
  border-top-right-radius: 16px;
  cursor: grab;
  height: 100%;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

.BoardContainer.grabbing {
  cursor: grabbing;
}

.BoardContainer::after {
  border-top-right-radius: 16px;
  box-shadow: inset 0 0 24px #000;
  content: '';
  display: block;
  height: 100%;
  pointer-events: none;
  position: relative;
  width: 100%;
}
