.Game {
  background-color: #844e2a;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;
}

.Game__play-area {
  flex: 1 1;
  display: flex;
}

.Game__board-area {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.Game__right-panel {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 300px;
}

.Game__player-list {
  flex: none;
}

.Game__history {
  overflow: auto;
  flex: 1 1;
  flex-basis: 0;
  background-color: #916040;
}

.Game__status-bar {
  flex: 0 0 24px;
}

.Game__action-bar {
  flex: 0 0 36px;
}

.Game__action-bar button {
  margin: 0 2px;
}

.Game__board {
  flex: 1 1;
}

.Game__own-hand {
  background-color: rgba(255, 255, 255, .2);
}

.Game__target-hand {
  background-color: rgba(255, 255, 255, .2);
  position: fixed;
  bottom: 160px;
  left: 0;
  right: 0;
}
