.History {
    margin: 8px;
}

.History__game-event {
    line-height: 16px;
    border-top: 1px dotted #fff;
    padding: 8px 0
}

.History__card-icon {
    border-radius: 10%;
    box-shadow: 0 0 2px #000;
    display: inline-block;
    width: 18px;
    vertical-align: text-bottom;
    margin: 0 2px;
    transition: transform 100ms linear;
}

.History__card-icon:hover {
    transform: scale(2.5);
}