.Hand {
    display: flex;
    height: 120px;
    justify-content: center;
    margin: 12px 0;
}

.Hand .Hand__card {
    width: 120px;
    min-width: 48px;
    margin: 0 4px;

    transition: transform 100ms linear;
}

.Hand .Hand__card:last-of-type {
    min-width: 120px;
}

.Hand .Hand__card:hover {
    transform: scale(1.1);
}

.Hand .Hand__card.selected {
    transform: translateY(-16px);
}

.Hand .Hand__card.selected:hover {
    transform: translateY(-16px) scale(1.1);
}

.Hand .Hand__card.active {
    cursor: pointer;
}

.Hand__card-image {
    display: block;
    width: 120px;
    border-radius: 10%;
    box-shadow: 0 0 4px #000;
}

.Hand .Hand__card.selected .Hand__card-image {
    box-shadow: 0 0 4px #fff;
}
