.PlayerList {
  margin: 16px;
  color: #fff;
}

.PlayerList__player {
  line-height: 24px;
  margin-bottom: 8px;
}

.PlayerList__player-avatar {
  width: 48px;
  height: 48px;
  margin-right: 4px;
  float: left;
}

.PlayerList__player-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.PlayerList__player.current-player .PlayerList__player-avatar:before {
  content: '➤';
  display: block;
  font-size: 24px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.PlayerList .PlayerList__card-count {
  line-height: 16px;
  font-size: 16px;
}

.PlayerList .PlayerList__card-icon {
  display: inline-block;
  vertical-align: text-bottom;
  height: 18px;
  margin: 0 2px;
  border-radius: 10%;
  box-shadow: 0 0 2px #000;
}

@keyframes hourglass-rotate {
  0% { transform: rotate(0); }
  25% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  75%   { transform: rotate(360deg); }
  100%   { transform: rotate(360deg); }
}
