.StatusBar {
  text-align: center;
}

.StatusBar__text {

}

.StatusBar__text.StatusBar__text--selected-color:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.StatusBar__text--selected-color.BLACK:before  {
  background-color: #2b2b2b;
}

.StatusBar__text--selected-color.PINK:before  {
  background-color: #f6bbcf;
}

.StatusBar__text--selected-color.RED:before  {
  background-color: #c32b37;
}

.StatusBar__text--selected-color.WHITE:before  {
  background-color: #f7f3e7;
}

.StatusBar__card-icon {
  border-radius: 10%;
  box-shadow: 0 0 2px #000;
  display: inline-block;
  width: 18px;
  vertical-align: text-bottom;
  margin: 0 2px;
  transition: transform 100ms linear;
  transform-origin: center top;
}

.StatusBar__card-icon:hover {
  transform: scale(2.5);
}