.Tile {
    position: absolute;
}

.Tile.active {
    cursor: pointer;
}

.Tile.disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.Tile.click-through {
    pointer-events: none;
}

.Tile.active.open:after {
    border-radius: 10%;
    box-shadow: inset 0 0 12px #fff;
    content: '';
    display: block;
    height: 64px;
    width: 64px;
}

.Tile.mark-cut:after {
    background: linear-gradient(45deg, transparent 45%, red 50%, transparent 55%),
    linear-gradient(-45deg, transparent 45%, red 50%, transparent 55%);
    border-radius: 30%;
    content: '';
    display: block;
    height: 64px;
    width: 64px;
}

.Tile.mark-last:after {
    content: '';
    display: block;
    border-radius: 10%;
    box-shadow: inset 0 0 4px #0ff;
    width: 64px;
    height: 64px;
}

.Tile.mark-place:after {
    border-radius: 10%;
    box-shadow: 0 0 8px #ff0;
    content: '';
    display: block;
    background: url('../images/rotate.png') no-repeat 4px 44px/16px 16px,
    radial-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, 0) 75%) no-repeat 0 40px/24px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
}

.Tile__card {
    display: block;
    width: 64px;
    border-radius: 10%;
    /*transition: transform 100ms linear;*/
}

.Tile__card.ghost {
    opacity: .2;
}

.Tile__card.rot-0 {
    transform: rotate(0deg);
}

.Tile__card.rot-1 {
    transform: rotate(90deg);
}

.Tile__card.rot-2 {
    transform: rotate(180deg);
}

.Tile__card.rot-3 {
    transform: rotate(270deg);
}
