.LobbyPanel {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LobbyPanel .LobbyPanel__form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.LobbyPanel .LobbyPanel__info-text {
    margin: 0 0 8px 0;
    width: 300px;
    text-align: center;
}

.LobbyPanel .LobbyPanel__name-input {
    width: 300px;
}

.LobbyPanel .LobbyPanel__submit-button {
    width: 300px;
}
