.RoomPanel {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RoomPanel .RoomPanel__form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.RoomPanel .RoomPanel__info-line {
    margin: 0 0 8px 0;
    width: 300px;
}

.RoomPanel .RoomPanel__player-list {
    margin: 0 0 8px 0;
}

.RoomPanel .RoomPanel__room-name {
    background: #fff;
    border-radius: 2px;
    color: #000;
    display: inline;
    padding: 2px;
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
}

.RoomPanel .RoomPanel__history-toggle {
}

.RoomPanel .RoomPanel__start-button {
    outline: none;
    background-color: #ccc;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    margin: 0;
    padding: 8px;
    width: 300px;
}

.RoomPanel .RoomPanel__start-button:disabled {
    border-color: #999;
    color: #999;
}

.RoomPanel .RoomPanel__start-button:focus {
    box-shadow: 0 0 4px #fff;
}

.RoomPanel .RoomPanel__info-text {
    margin: 0 0 8px 0;
    text-align: center;
    width: 300px;
}
