body {
  background-color: #60321a;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #f0bccd;
}

button {
  outline: none;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
  margin: 0;
  padding: 8px;
}

button.danger {
  background-color: #c32b37;
  color: #fff;
}

button:focus {
  box-shadow: 0 0 4px #fff;
}

button:hover {
  background-color: #bbb;
}

button.danger:hover {
  background-color: #A82B3B;
}

button:active {
  background-color: #aaa;
}

button.danger:active {
  background-color: #8d2a3e;
}

button:disabled {
  background-color: #ccc;
  border-color: #999;
  color: #999;
  box-shadow: none;
}

input {
  outline: none;
  background-color: #fff;
  border: 1px solid #000;
  margin: 0 0 8px 0;
  padding: 8px;
  box-sizing: border-box;
}

input:focus {
  box-shadow: 0 0 4px #fff;
}
